<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Atlantis CMS | {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        <link rel="apple-touch-icon" href="{{ asset('bundles/app/img/favicon.png') }}">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}">
        <!-- Roboto Fontface -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/roboto-fontface/css/roboto/roboto-fontface.css') }}">
        <!-- NProgress -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/nprogress/nprogress.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}">

        <!-- bootstrap-progressbar -->
        <link rel="stylesheet"
              href="{{ asset('assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}">
        <!-- JQVMap -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/jqvmap/dist/jqvmap.min.css') }}">
        <!-- bootstrap-daterangepicker -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.css') }}">
        <!-- Switchery -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/switchery/dist/switchery.min.css') }}">
        <!-- PNotify -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/pnotify/dist/pnotify.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendors/pnotify/dist/pnotify.nonblock.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- Custom Theme Style -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/custom.min.css') }}">

    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="{{ path('homepage') }}" class="site_title">
                                <span class="sr-only">Atlantis CMS</span>
                                <img src="{{ asset('bundles/app/img/logo.svg') }}" class="site_logo"
                                     alt="Atlantis Logo">
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="{{ asset('bundles/app/img/img.jpg') }}" alt="Profile picture"
                                     class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <h2>{{ app.user.firstname }} {{ app.user.lastname }}</h2>
                                {% else %}
                                    <h2>Citizen!</h2>
                                {% endif %}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <p>Administrator</p>
                                {% elseif is_granted('ROLE_CALL_OPERATOR') %}
                                    <p>Call operator</p>
                                {% elseif is_granted('ROLE_GOV_AGENT') %}
                                    <p>Government agent</p>
                                {% else %}
                                    Anonymous
                                {% endif %}
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br/>

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <ul class="nav side-menu">
                                    <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i> Dashboard</a></li>
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li><a><i class="fa fa-edit"></i> Crisis <span
                                                        class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                {% if is_granted('ROLE_CALL_OPERATOR') or is_granted('ROLE_SUPER_ADMIN') %}
                                                    <li><a href="{{ path('submit-crisis') }}">Submit Request</a></li>
                                                {% endif %}
                                                <li><a href="{{ path('manage-crisis') }}">Manage</a></li>
                                            </ul>
                                        </li>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li><a href="{{ path('fos_user_registration_register') }}"><i
                                                            class="fa fa-user"></i>
                                                    Register User</a>
                                                    <li><a href="http://127.0.0.1:8000/command-scheduler/list"><i
                                                            class="fa fa-user"></i>
                                                    Scheduler</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a data-toggle="tooltip" data-placement="top" title="Logout"
                                   href="{{ path('fos_user_security_logout') }}">
                                    <span class="fa fa-power-off" aria-hidden="true"></span>
                                </a>
                            {% else %}
                                <a data-toggle="tooltip" data-placement="top" title="Login"
                                   href="{{ path('fos_user_security_login') }}">
                                    <span class="fa fa-sign-in" aria-hidden="true"></span>
                                </a>
                            {% endif %}
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav navbar-fixed-top">
                    <div class="nav_menu">
                        <nav>
                            <div class="col-md-6">
                                <div class="nav toggle">
                                    <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                                </div>
                            </div>
                            {% if app.request.get('_route') == 'homepage' %}
                                <div class="col-md-6">
                                    <div id="reportrange" class="pull-right"
                                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin: 10px 0">
                                        <i class="fa fa-calendar"></i>
                                        <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                    </div>
                                </div>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    {% block page_content %}{% endblock %}
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        ©2017 Atlantis Corp. All Rights Reserved.
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>
        <!-- jQuery -->
        <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
        <!-- NProgress -->
        <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>
        <!-- Chart.js -->
        <script src="{{ asset('assets/vendors/Chart.js/dist/Chart.min.js') }}"></script>
        <!-- gauge.js -->
        <script src="{{ asset('assets/vendors/gauge.js/dist/gauge.min.js') }}"></script>
        <!-- bootstrap-progressbar -->
        <script src="{{ asset('assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
        <!-- iCheck -->
        <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>
        <!-- Skycons -->
        <script src="{{ asset('assets/vendors/skycons/skycons.js') }}"></script>
        <!-- Flot -->
        <script src="{{ asset('assets/vendors/Flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('assets/vendors/Flot/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('assets/vendors/Flot/jquery.flot.time.js') }}"></script>
        <script src="{{ asset('assets/vendors/Flot/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('assets/vendors/Flot/jquery.flot.resize.js') }}"></script>
        <!-- Flot plugins -->
        <script src="{{ asset('assets/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
        <script src="{{ asset('assets/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/flot.curvedlines/curvedLines.js') }}"></script>

        <!-- DateJS -->
        <script src="{{ asset('assets/vendors/DateJS/build/date.js') }}"></script>
        <!-- JQVMap -->
        <script src="{{ asset('assets/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
        <script src="{{ asset('assets/vendors//jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
        <script src="{{ asset('assets/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
        <!-- bootstrap-daterangepicker -->
        <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
        <!-- Switchery -->
        <script src="{{ asset('assets/vendors/switchery/dist/switchery.min.js') }}"></script>
        <!-- PNotify -->
        <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>
        <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
        <script src="{{ asset('assets/vendors/pnotify/pnotify.nonblock.js') }}"></script>

        {% block javascripts %}{% endblock %}

        <!-- Custom Theme Scripts -->
        <script src="{{ asset('bundles/app/js/custom.min.js') }}"></script>

        {% block custom_javascripts %}{% endblock %}
    </body>
</html>
