{% block page_content %}
    <div class="col-md-8 col-sm-12 col-xs-13">
        <div class="x_panel">
            <div class="row x_title">
                <h2>Map</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="map" style="width: 100%; height: 307px;"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="x_title">
                        <h2>Map Legend</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="1" name="category" checked/> Haze
                            </label>
                        </div>
                        <br/>
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="2" name="category"  checked/> Dengue
                            </label>
                        </div>
                        <br/>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="3" name="category" checked/> Fire Incidents
                            </label>
                        </div>
                        <br/>
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="4" name="category"  checked/> Car Accidents
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    <!-- Custom Theme Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        var map;
        var myLatLng;
        var content;
        var infowindow;
        var markersToAdd = [];
        var g_markers = [];
        var crisislist = [];

        // toggle checkbox onchange
        $(function () {
            $('[name="category"]').on('change', filterMarkers);
        })

        // initialize map
        function initMap() {
            myLatLng = {lat: 1.3553794, lng: 103.851959};
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 10
            });

            // fetch data from database and add as array of object
        {% for crisis in data %} 
            var lat = '{{ crisis.latitude}}';
            var lng = '{{ crisis.longitude}}';
            var firstname = '{{ crisis.contactFirstname }}';
            var lastname = '{{ crisis.contactLastname }}';
            var phonenumber = '{{ crisis.contactPhoneNumber }}';
            var addrline1 = '{{ crisis.addressLine1 }}';
            var addrline2 = '{{ crisis.addressLine2 }}';
            var streetnumber = '{{ crisis.streetNumber }}';
            var postalcode = '{{ crisis.postalCode }}';
            var city = '{{ crisis.city }}';
            var message = '{{ crisis.message }}';
            var category = '{{ crisis.category.id }}';
            var month = '{{ crisis.submittedOn|date('m') }}';
            var date = '{{ crisis.submittedOn|date('d-m-Y') }}';
            var showToPublic = '{{ crisis.showToPublic }}';

            markersToAdd = [
                [lat, lng, category, firstname, lastname, phonenumber, addrline1, addrline2, streetnumber, postalcode, city, message, category, month, date]
            ];

            // loop through each marker and add them one by one
            for (i = 0; i < markersToAdd.length; i++) {
                addMarker(markersToAdd[i]);
            }
        {% endfor %}

                // graphs plotting
                drawPieChart(crisislist);
                drawRadarChart(crisislist);
                drawLineChart(crisislist);
            }

            function addMarker(marker) {
                var categoryString;
                var newMarker = new google.maps.Marker({
                    position: new google.maps.LatLng(marker[0], marker[1]),
                    animation: google.maps.Animation.DROP,
                    map: map
                });

                // add the marker location together with category to temporary array to be toggled on and off layer
                g_markers.push({markerObj: newMarker, category: marker[2]})

                // customize map marker and populate each crisis array for graphs plotting purpose
                if (marker[2] == 1) {
                    newMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');
                    categoryString = 'Haze Case';
                    crisislist.push({category: marker[2], month: marker[13], date: marker[14]});
                } else if (marker[2] == 2) {
                    newMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
                    categoryString = 'Dengue Case';
                    crisislist.push({category: marker[2], month: marker[13], date: marker[14]});
                } else if (marker[2] == 3) {
                    newMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/purple-dot.png');
                    categoryString = 'Fire Case';
                    crisislist.push({category: marker[2], month: marker[13], date: marker[14]});
                } else if (marker[2] == 4) {
                    newMarker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
                    categoryString = 'Car Accident Case';
                    crisislist.push({category: marker[2], month: marker[13], date: marker[14]});
                }
                // info window content
                content = '<h5>' + categoryString + '</h5><br/>'
                        + '<b>' + marker[6] + " " + marker[7] + '</b><br/>'
                        + (marker[10].toUpperCase()) + " " + marker[9] + '<br/><br/>'
                        + "Issued by: " + marker[3] + " " + marker[4] + '<br/>'
                        + "Issued on:  " + marker[14] + '<br/>'
                        + "Contact number: " + marker[5];

                infowindow = new google.maps.InfoWindow()
                google.maps.event.addListener(newMarker, 'click', (function (newMarker, content, infowindow) {
                    return function () {
                        infowindow.setContent(content);
                        infowindow.open(map, newMarker);
                    };
                })(newMarker, content, infowindow));
            }

            // function to filter markers by category
            function filterMarkers() {
                // get checked categories
                var checkedCategories = [];

                $('[name="category"]:checked').each(function () {
                    checkedCategories.push(parseInt($(this).val()));
                });

                // filter markers
                $(g_markers).each(function () {
                    this.markerObj.setVisible(
                            checkedCategories.indexOf(parseInt(this.category)) !== -1
                            );
                });
            }
    </script>
{% endblock %}