{% block page_content %}
    <div class="col-md-8 col-sm-12 col-xs-13">
        <div class="x_panel">
            <div class="row x_title">
                <h2>Map</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="map" style="width: 100%; height: 307px;"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="x_title">
                        <h2>Map Legend</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="3" name="category" checked/> Dengue
                            </label>
                        </div>
                        <br/>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="2" name="category" checked/> Fire
                                Incidents
                            </label>
                        </div>
                        <br/>
                        <div class="">
                            <label>
                                <input type="checkbox" class="js-switch" value="1" name="category" checked/> Car
                                Accidents
                            </label>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascripts %}
    <!-- Custom Theme Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        var map;
        var myLatLng;
        var content;
        var infowindow;
        var markersToAdd = [];
        var g_markers = [];
        var crisislist = [];

        // toggle checkbox onchange
        $(function () {
            $('[name="category"]').on('change', filterMarkers);
        });

        // initialize map
        function initMap() {
            myLatLng = {lat: 1.3553794, lng: 103.851959};
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 10
            });

            // fetch data from database and add as array of object
            {% for crisis in data %}
            var visibility = '{{ crisis.showToPublic }}';
            console.log(visibility);
            if (visibility) {

                var lat = '{{ crisis.latitude }}';
                var lng = '{{ crisis.longitude }}';
                var firstname = '{{ crisis.contactFirstname }}';
                var lastname = '{{ crisis.contactLastname }}';
                var phonenumber = '{{ crisis.contactPhoneNumber }}';
                var addrline1 = '{{ crisis.addressLine1 }}';
                var addrline2 = '{{ crisis.addressLine2 }}';
                var streetnumber = '{{ crisis.streetNumber }}';
                var postalcode = '{{ crisis.postalCode }}';
                var city = '{{ crisis.city }}';
                var message = '{{ crisis.message }}';
                var category = '{{ crisis.category.id }}';
                var month = '{{ crisis.submittedOn|date('m') }}';
                var date = '{{ crisis.submittedOn|date('d-m-Y') }}';
                var showToPublic = '{{ crisis.showToPublic }}';

                var markerItem =
                    {
                        'lat': lat,
                        'lng': lng,
                        'category': category,
                        'firstname': firstname,
                        'lastname': lastname,
                        'phoneNumber': phonenumber,
                        'addrline1': addrline1,
                        'addrline2': addrline2,
                        'streetnumber': streetnumber,
                        'postalcode': postalcode,
                        'city': city,
                        'message': message,
                        'month': month,
                        'date': date
                    };
                markersToAdd.push(markerItem);
            }
            {% endfor %}

            // loop through each marker and add them one by one
            for (var i = 0; i < markersToAdd.length; i++) {
                addMarker(markersToAdd[i]);
            }

            // graphs plotting
            drawPieChart(crisislist);
            drawRadarChart(crisislist);
            //drawLineChart(crisislist);
        }

        function addMarker(marker) {
            var categoryString;
            var newMarker = new google.maps.Marker({
                position: new google.maps.LatLng(marker['lat'], marker['lng']),
                animation: google.maps.Animation.DROP,
                map: map
            });

            // add the marker location together with category to temporary array to be toggled on and off layer
            g_markers.push({markerObj: newMarker, category: marker['category']});

            categoryString = {
                '1': 'Vehicule Accident',
                '2': 'Fire',
                '3': 'Dengue',
                '4': 'Haze'
            };

            // customize map marker and populate each crisis array for graphs plotting purpose
            newMarker.setIcon({
                url: '/bundles/app/img/map-markers/' + marker['category'] + '.png',
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            });
            crisislist.push({category: marker['category'], month: marker['month'], date: marker['date']});

            // info window content
            content = '<h5>' + categoryString[marker['category']] + '</h5><br/>'
                + '<b>' + marker['addrline1'] + '</b><br/>'
                + (marker['city'].toUpperCase()) + ' ' + marker['postalcode'] + '<br/><br/>'
                + 'Issued by: ' + marker['firstname'] + ' ' + marker['lastname'] + '<br/>'
                + 'Issued on:  ' + marker['date'] + '<br/>'
                + 'Contact number: ' + marker['phoneNumber'];

            infowindow = new google.maps.InfoWindow();
            google.maps.event.addListener(newMarker, 'click', (function (newMarker, content, infowindow) {
                return function () {
                    infowindow.setContent(content);
                    infowindow.open(map, newMarker);
                };
            })(newMarker, content, infowindow));
        }

        // function to filter markers by category
        function filterMarkers() {
            // get checked categories
            var checkedCategories = [];

            $('[name="category"]:checked').each(function () {
                checkedCategories.push(parseInt($(this).val()));
            });

            // filter markers
            $(g_markers).each(function () {
                this.markerObj.setVisible(
                    checkedCategories.indexOf(parseInt(this.category)) !== -1
                );
            });
        }
    </script>
{% endblock %}